In [1]:
import pandas as pd

In [2]:
m = pd.read_pickle('house_price_predictor.pkl')

In [3]:
m

LinearRegression()

In [4]:
inc = eval(input('Enter the income:'))
age = eval(input('Enter the house age:'))
room = eval(input('Enter the number of rooms:'))
pop = eval(input('Enter the population:'))

query = pd.DataFrame({'income':[inc],'house_age':[age], 'rooms':[room],'population':[pop]})

Enter the income: 20000
Enter the house age: 23
Enter the number of rooms: 5
Enter the population: 40000

In [5]:
query

   income  house_age  rooms  population
0   20000         23      5       40000

In [6]:
round(m.predict(query)[0],2)

2804506.1